@import url('base.css');
@import url('layout.css');
@import url('skeleton.css');
/*@import url('menunav1.css');*/


body{
background-color:#FFFFFF;
}
h1{
margin:0;	
}

.col-main{
height:500px;
width:900px
}
/* topmenu navigation*/
nav.nav-container #nav{
background: #1E90FF;
/*padding:10px 0;*/
width:100%;
height:35px;
}

nav.nav-container #nav{
padding-left:100px;
}
nav #nav{
padding-top:15px;
}

nav #nav li{
display: inline;
background: #000000;
padding: 8px 10px;
color: #FFFFFF;
border-right: 3px solid #F5F1F1;
border-top: 2px solid #F5F1F1;
}

footer.footer.container{
background-color:#BFBFBF;
box-shadow: 0 0 5px #888;
}

footer.footer.container ul a{
text-decoration:none;
color:#FFFFFF;
}
nav #nav li:hover{
-moz-box-shadow: 0 10px 30px #FFFFFF inset	;
-webkit-box-shadow: 0px 10px 30px #FFFFFF inset;
box-shadow: 0px 10px 30px #FFFFFF inset;
}

.main{
padding-left:200px;
}
nav #nav li a{
color: #FFFFFF;
font-size: 14px;
font-weight: bold;
text-decoration: none;
}

nav #nav li a:hover{
text-shadow: 0px 1px #FFFFFF;
}

nav #nav ul{
display: block;
}

nav #nav li{
display: inline;
}
/* Container from Scalaton*/

.container{
	background-color:#7FC9D2;
}

/* Logo margin */
.logo-margin{
padding:0 0 0 120px;
margin:0;
height:40px;
}

.main-header {
padding:20px 0 0 0;
margin:0;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
background-color:#000000;
}

/*Quick links */
.quick-access .links li{
display:inline;
margin:0 4px 0 0;
}
.welcome-msg{
color:#FFFFFF;
}

.increase-padding-header{
padding-top:30px;
}
.quick-access .links li a{
text-decoration:none;
font-size:14px;
color:#FFFFFF;
}

.quick-access .links li a:hover{
text-decoration:underline;
color:#1E90FF;
}

/* Search bar & header links*/
.quick-access .form-search input.input-text {
display:inline;
}

.quick-access .form-search label{
display:none;
}
/*a{
color:#117ADF;
}
a:hover{
color:#2A8FF4;
}*/
