<?xml version="1.0"?>
<config>
  <modules>
    <First_Test>
      <version>0.1.0</version>
    </First_Test>
  </modules>
  <frontend>
    <routers>
      <test>
        <use>standard</use>
          <args>
            <module>First_Test</module>
            <frontName>test</frontName>
          </args>
      </test>
    </routers>
		<layout>
		  <updates>
			<test>
			  <file>test.xml</file>
			</test>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <test>
        <class>First_Test_Helper</class>
      </test>
    </helpers>
	<blocks>
	  <test>
		<class>First_Test_Block</class>
	  </test>
	</blocks>
	<models>
	  <test>
		<class>First_Test_Model</class>
		<resourceModel>test_mysql4</resourceModel>
	  </test>
	  <test_mysql4>
		<class>First_Test_Model_Mysql4</class>
		<entities>		  
			  <test>
				<table>test</table>
			  </test>
        </entities>
	  </test_mysql4>
	</models>
	<resources>
	  <test_setup>
		<setup>
		  <module>First_Test</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </test_setup>
	  <test_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </test_write>
	  <test_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </test_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <test>
	    <use>admin</use>
		<args>
		  <module>First_Test</module>
		  <frontName>test</frontName>
		</args>
	  </test>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <test module="test">
		<title>Test</title>
		<sort_order>100</sort_order>
		<children>
		  <test module="test">
		    <title>Manage Test</title>
			<sort_order>0</sort_order>
			<action>test/adminhtml_test</action>
		  </test>
		</children>
	  </test>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<test translate="title" module="test">
			  <title>Test</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <test translate="title">
			<title>Manage Test</title>
			<sort_order>0</sort_order>
		  </test>
			  </children>
			</test>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<test>
		  <file>test.xml</file>
		</test>
	  </updates>
	</layout>
  </adminhtml>
</config> 