<?xml version="1.0" ?>
<config>
	<modules>
		<Frontend_First>
			<version>0.1.0</version>
		</Frontend_First>
	</modules>
	<frontend>
		<routers>
			<First>
				<use>standard</use>
				<args>
					<module>Frontend_First</module>
					<frontName>first</frontName>
				</args>
			</First>
		</routers>
		<layout>
			<updates>
				<First>
					<file>first.xml</file>
				</First>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<First>
				<class>Frontend_First_Model</class>
				<resourseModel>First_mysql4</resourseModel>
			</First>
			<First_mysql4>
				<class>Frontend_First_Model_Mysql4</class>
				<entities>
					<First>
						<table>First</table>
					</First>
				</entities>
			</First_mysql4>
		</models>
		<resourses>
			<First_setup>
				<setup>
					<module>Frontend_First</module>					
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</First_setup>			
			<First_write>
				<connection>
					<use>core_write</use>
				</connection>
			</First_write>
			<First_read>
				<connection>
					<use>core_read</use>
				</connection>
			</First_read>
		</resourses>
		<blocks>
			<First>
				<class>Frontend_First_Block</class>
			</First>
		</blocks>
		<helpers>
			<First>
				<class>Frontend_First_Helper</class>
			</First>
		</helpers>
	</global>
</config>
