<?xml version="1.0"?>
<config>
    <global>
        <resources>
            <Custom_Attribute_setup>
                <setup>
                    <module>Custom_Attribute</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Custom_Attribute_setup>
        </resources>
    </global>
</config>
