<?xml version="1.0"?>
<config>
  <modules>
    <Bestylish_Testview>
      <version>0.1.0</version>
    </Bestylish_Testview>
  </modules>
  <frontend>
    <routers>
      <testview>
        <use>standard</use>
          <args>
            <module>Bestylish_Testview</module>
            <frontName>testview</frontName>
          </args>
      </testview>
    </routers>
		<layout>
		  <updates>
			<testview>
			  <file>testview.xml</file>
			</testview>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <testview>
        <class>Bestylish_Testview_Helper</class>
      </testview>
    </helpers>
	<blocks>
	  <testview>
		<class>Bestylish_Testview_Block</class>
	  </testview>
	</blocks>
	<models>
	  <testview>
		<class>Bestylish_Testview_Model</class>
		<resourceModel>testview_mysql4</resourceModel>
	  </testview>
	  <testview_mysql4>
		<class>Bestylish_Testview_Model_Mysql4</class>
		<entities>		  
			  <testview>
				<table>test_view</table>
			  </testview>
        </entities>
	  </testview_mysql4>
	</models>
	<resources>
	  <testview_setup>
		<setup>
		  <module>Bestylish_Testview</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </testview_setup>
	  <testview_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </testview_write>
	  <testview_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </testview_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <testview>
	    <use>admin</use>
		<args>
		  <module>Bestylish_Testview</module>
		  <frontName>testview</frontName>
		</args>
	  </testview>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <testview module="testview">
		<title>Testview</title>
		<sort_order>100</sort_order>
		<children>
		  <testviewbackend module="testview">
			<title>ViewTest</title>
			<sort_order>0</sort_order>
			<action>testview/adminhtml_testviewbackend</action>
		  </testviewbackend>
		  <testview module="testview">
		    <title>Manage Testview</title>
			<sort_order>20</sort_order>
			<action>testview/adminhtml_testview</action>
		  </testview>
		</children>
	  </testview>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<testview translate="title" module="testview">
			  <title>Testview</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <testviewbackend translate="title">
			<title>ViewTest</title>
		  </testviewbackend>
		  <testview translate="title">
			<title>Manage Testview</title>
			<sort_order>20</sort_order>
		  </testview>
			  </children>
			</testview>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<testview>
		  <file>testview.xml</file>
		</testview>
	  </updates>
	</layout>
  </adminhtml>
</config> 