.product-view .tags .form-add-tags input.input-text { margin-top:0px;}
.cart .cart-collaterals .discount input.input-text{ margin-right:5px;}
.pager .pages .v-middle{ vertical-align:middle; margin-top:-2px;}